* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    padding: 0;
}

img {
    width: 50rem;
    border-radius: 2rem;
}

.image-container {
    display: flex;
    position: relative;
    width: 100%;
}

.user-card {
    background-color: rgba(0,0,255,0.5);
    border-radius: 2rem;
    position: absolute;
    bottom: 0;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.user-information {

}

.icons {
    font-size: 10rem;
    color: black;
}

.icons:hover {
    color: red;
}

.action-container {
    display: flex;
    justify-content: center;
}

